*{
    font-family: cursive;
}

body{
    background-color: darkcyan;
}

.App{
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    padding-bottom: 100px ;
}

.level-selector h1, p{
font-size: larger;
}

.level-selector{
    background-color: wheat;
    display: grid;
    justify-content: center;
}

.question-section{
    background-color: wheat;
}

.card-container{
    background-color: darkcyan;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
}

.question-buttons{
    display: grid;
    grid-auto-flow: column;
    justify-content: flex-start;
    gap: 10px;
}

button{
    border-radius: 5px;
    border: none;
    margin: 5px;
    padding: 10px;
    background-color: darkcyan;
    color: white;
}

button:disabled{
    background-color: darkgrey;
    color: darkolivegreen;
}

.questions{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

.question-section{
    max-width: 1100px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

select{
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: darkslategray;
    color: floralwhite;
}